## Reshaping Data w/Pandas

### Intro to DataReshaping
Let's start by understanding the concept of wide and long formats and the advantages of using each of them. Youâ€™ll then learn how to pivot data from long to a wide format, and get summary statistics from a large DataFrame.

In [1]:
# Import any packages you want to use here
import pandas as pd

#### Flipping players
Congratulations! You got the data scientist job! In your first project, you will work with the fifa_players dataset. It contains data of the players included in the last version of the video game. Before you start to do any analysis, you need to clean and format your dataset.

As a first step, you need to explore your dataset and reshape it using basic steps, such as setting different indices, filtering columns and flipping the DataFrame. You would like to see if that is enough for further analysis.

In [2]:
fifa_players = pd.DataFrame({
    'name': ['Lionel Messi', 'Cristiano Ronaldo', 'Neymar da Silva', 'Jan Oblak', 'Eden Hazard'],
    'age':[32, 34, 27, 26, 28],
    'height':[170, 187, 175, 188, 175],
    'weight':[72, 83, 68, 87, 74],
    'nationality':['Argentina', 'Portugal', 'Brazil', 'Slovenia', 'Belgium'],
    'club':['FC Barcelona', 'Juventus', 'Paris Saint-Germain', 'Atletico Madrid', 'Real Madrid']
})
fifa_players

                name  age  height  weight nationality                 club
0       Lionel Messi   32     170      72   Argentina         FC Barcelona
1  Cristiano Ronaldo   34     187      83    Portugal             Juventus
2    Neymar da Silva   27     175      68      Brazil  Paris Saint-Germain
3          Jan Oblak   26     188      87    Slovenia      Atletico Madrid
4        Eden Hazard   28     175      74     Belgium          Real Madrid

In [3]:
# Set name as index
fifa_transpose = fifa_players.set_index('name')

# Print fifa_transpose
print(fifa_transpose, '\n')

# Modify the DataFrame to keep only height and weight columns
fifa_transpose = fifa_players.set_index('name')[['height', 'weight']]

# Print fifa_transpose
print(fifa_transpose, '\n')

# Change the DataFrame so rows become columns and vice versa
fifa_transpose = fifa_players.set_index('name')[['height', 'weight']].transpose()

# Print fifa_transpose
print(fifa_transpose)

                   age  height  weight nationality                 club
name
Lionel Messi        32     170      72   Argentina         FC Barcelona
Cristiano Ronaldo   34     187      83    Portugal             Juventus
Neymar da Silva     27     175      68      Brazil  Paris Saint-Germain
Jan Oblak           26     188      87    Slovenia      Atletico Madrid
Eden Hazard         28     175      74     Belgium          Real Madrid

                   height  weight
name
Lionel Messi          170      72
Cristiano Ronaldo     187      83
Neymar da Silva       175      68
Jan Oblak             188      87
Eden Hazard           175      74

name    Lionel Messi  Cristiano Ronaldo  ...  Jan Oblak  Eden Hazard
height           170                187  ...        188          175
weight            72                 83  ...         87           74

[2 rows x 5 columns]

### Dribbling the pivot method
It's time to keep working with the fifa_players dataset. After you explored the dataset, you realized the dataset contains player scores on different movements: shooting, dribbling, and passing. There are attacking scores as well as overall scores.

The goal of the project is to analyze the scores to create an optimized team, so you decide to explore which score is better. But the current data is in a long format. You'll need to to pivot your DataFrame in different ways to discover a pattern.


```python
# fifa_players df
                name   movement  overall  attacking
0           L. Messi   shooting       92         70
1  Cristiano Ronaldo   shooting       93         89
2           L. Messi    passing       92         92
3  Cristiano Ronaldo    passing       82         83
4           L. Messi  dribbling       96         88
5  Cristiano Ronaldo  dribbling       89         84

# Pivot fifa_players to get overall scores indexed by name and identified by movement
fifa_overall = fifa_players.pivot(index='name', columns='movement', values='overall')

# Print fifa_overall
print(fifa_overall)

# pivoted item wit name as index, column values set to unique items for movement, with overall values for movement set to values for column return
movement           dribbling  passing  shooting
name                                           
Cristiano Ronaldo         89       82        93
L. Messi                  96       92        92
```

```python
# Pivot fifa_players to get attacking scores indexed by name and identified by movement
fifa_attacking = fifa_players.pivot(index='name', columns='movement', values='attacking')

# Print fifa_attacking
print(fifa_attacking)

# pivoted 
movement           dribbling  passing  shooting
name                                           
Cristiano Ronaldo         84       83        89
L. Messi                  88       92        70
```

```python
# Use the pivot method to get overall scores indexed by movement and identified by name
fifa_names = fifa_players.pivot(index='movement', columns='name', values='overall')

# Print fifa_names
print(fifa_names)

# pivoted by index as movement, column values set to the names with values for each being brought over from overall tallies for each
name       Cristiano Ronaldo  L. Messi
movement                              
dribbling                 89        96
passing                   82        92
shooting                  93        92
```

### Offensive or defensive player?
You're not convinced with your previous exploration - you've discovered patterns in the attacking and overall scores in fifa_players. You would like to compare both scores, so you would like to see both in the same DataFrame.

To do this, you'll need a way to pivot more than one column. You remember you can achieve this goal in two different ways: you could pivot the DataFrame using the list with the two columns, or you could extend the .pivot() method to all the columns present in the dataset.

```python
# Pivot fifa_players to get overall and attacking scores indexed by name and identified by movement
fifa_over_attack = fifa_players.pivot(index='name', 
                                     columns='movement', 
                                     values=['overall', 'attacking'])

# Print fifa_over_attack
print(fifa_over_attack)

<script.py> output:
                        overall                  attacking                 
    movement          dribbling passing shooting dribbling passing shooting
    name                                                                   
    Cristiano Ronaldo        89      82       93        84      83       89
    L. Messi                 96      92       92        88      92       70
    
# Use pivot method to get all the scores index by name and identified by movement
fifa_all = fifa_players.pivot(index='name', columns='movement')

# Print fifa_over_attack
print(fifa_all)
    
# Same output if not declaring values as it will just default the unused columns
```

## Intro Section Closing
### Reviewing the moves
Wow! You have now learned about pivot tables. In the last analysis that you did, you encountered a DataFrame that had non-unique index/column pairs. In order to pivot your DataFrame, you wrote code to drop the last row, and then reshaped it.

In this exercise, you will modify the code using pivot tables and compare it with your strategy of using the pivot method.

```python
# DFrame in exercises
fifa_players
                name   movement  overall  attacking
0           L. Messi   shooting       92         70
1  Cristiano Ronaldo   shooting       93         89
2           L. Messi    passing       92         92
3  Cristiano Ronaldo    passing       82         83
4           L. Messi  dribbling       96         88
5  Cristiano Ronaldo  dribbling       89         84
6           L. Messi  dribbling       88         97

# Discard the fifth row to delete all repeated rows
fifa_drop = fifa_players.drop(4, axis=0)

# Use pivot method to get all scores by name and movement
fifa_pivot = fifa_drop.pivot(index='name', columns='movement') 

# Print fifa_pivot
print(fifa_pivot, '\n')  

# Use pivot table to get all scores by name and movement
fifa_pivot_table = fifa_players.pivot_table(index='name', 
                                     columns='movement', 
                                     aggfunc='mean')
# Print fifa_pivot_table
print(fifa_pivot_table)


                    overall                  attacking                 
movement          dribbling passing shooting dribbling passing shooting
name                                                                   
Cristiano Ronaldo        89      82       93        84      83       89
L. Messi                 88      92       92        97      92       70 

                  attacking                    overall                 
movement          dribbling passing shooting dribbling passing shooting
name                                                                   
Cristiano Ronaldo      84.0    83.0     89.0        89      82       93
L. Messi               92.5    92.0     70.0        92      92       92
```

In [4]:
# Use pivot table to display mean age of players by club and nationality 
mean_age_fifa = fifa_players.pivot_table(index='nationality', 
                                  columns='club', 
                                  values='age', 
                                  aggfunc='mean')

# Print mean_age_fifa
print(mean_age_fifa)

club         Atletico Madrid  FC Barcelona  ...  Paris Saint-Germain  Real Madrid
nationality                                 ...
Argentina                NaN          32.0  ...                  NaN          NaN
Belgium                  NaN           NaN  ...                  NaN         28.0
Brazil                   NaN           NaN  ...                 27.0          NaN
Portugal                 NaN           NaN  ...                  NaN          NaN
Slovenia                26.0           NaN  ...                  NaN          NaN

[5 rows x 5 columns]

### Using Provided DataFrame in Exercises
```python
In [1]:
fifa_players
Out[1]:

        id                                 name  age  height  weight nationality          club
0   192448                Marc-AndrÃ© ter Stegen   27     187      85     Germany  FC Barcelona
1   177003                          Luka ModriÄ‡   33     172      66     Croatia   Real Madrid
2   176580             Luis Alberto SuÃ¡rez DÃ­az   32     182      86     Uruguay  FC Barcelona
3   194765                    Antoine Griezmann   28     176      73      France  FC Barcelona
4   182521                           Toni Kroos   29     183      76     Germany   Real Madrid
5   200145    Carlos Henrique Venancio Casimiro   27     185      84      Brazil   Real Madrid
6   165153                        Karim Benzema   31     185      81      France   Real Madrid
7   205600                        Samuel Umtiti   25     182      75      France  FC Barcelona
8   168651                         Ivan RakitiÄ‡   31     184      78     Croatia  FC Barcelona
9   201535                       RaphaÃ«l Varane   26     191      81      France   Real Madrid
10  220440                      ClÃ©ment Lenglet   24     186      81      France  FC Barcelona
11  194404                 Norberto Murara Neto   29     190      84      Brazil  FC Barcelona
12  176676       Marcelo Vieira da Silva JÃºnior   31     174      75      Brazil   Real Madrid
13  231443                      Ousmane DembÃ©lÃ©   22     178      67      France  FC Barcelona
14  230658  Arthur Henrique Ramos Oliveira Melo   22     171      73      Brazil  FC Barcelona
15  240130                 Ã‰der Gabriel MilitÃ£o   21     186      78      Brazil   Real Madrid
16  201400       Rafael AlcÃ¢ntara do Nascimento   26     174      71      Brazil  FC Barcelona
17  228618                        Ferland Mendy   24     180      73      France   Real Madrid
18  238794     VinÃ­cius JosÃ© de Oliveira JÃºnior   18     176      73      Brazil   Real Madrid
19  239053                    Federico Valverde   20     182      78     Uruguay   Real Madrid
20  243812                Rodrygo Silva de Goes   18     174      64      Brazil   Real Madrid
21  209749                   Lucas Silva Borges   26     182      80      Brazil   Real Madrid
22  245388                    Jean-Clair Todibo   19     190      81      France  FC Barcelona

# Use pivot table to display max height of any player by club and nationality
tall_players_fifa = fifa_players.pivot_table(index='nationality', 
                                     columns='club', 
                                      values='height', 
                                      aggfunc='max')

# Print tall_players_fifa
print(tall_players_fifa)
club         FC Barcelona  Real Madrid
nationality                           
Brazil                190          186
Croatia               184          172
France                190          191
Germany               187          183
Uruguay               182          182


# Use pivot table to show the count of players by club and nationality and the total count
players_country = fifa_players.pivot_table(index='nationality', 
                                    columns='club', 
                                    values='name', 
                                    aggfunc='count', 
                                    margins=True)

# Print players_country
print(players_country)

club         FC Barcelona  Real Madrid  All
nationality                                
Brazil                  3            6    9
Croatia                 1            1    2
France                  5            3    8
Germany                 1            1    2
Uruguay                 1            1    2
All                    11           12   23
```

### The tallest and the heaviest
You will continue your exploration of characteristics of players in fifa_players belonging to two teams: FC Barcelona and Real Madrid. As your last task, you are interested in exploring the maximum height and weight separated by teams and nationality. You will also compare two years, 2000 and 2010.

You have two columns that you want to set as an index, so you will need to use pivot_table().

The fifa_players dataset is available for you. It contains data about the club, nationality, height, weight, and year of the players playing for each team.

```python
print(fifa_players.head())
           club nationality  year  height  weight
0  FC Barcelona     Germany  2000     187      85
1  FC Barcelona     Germany  2010     189      87
2   Real Madrid     Croatia  2000     172      66
3   Real Madrid     Croatia  2010     173      68
4   Real Madrid     Germany  2000     183      76


# Set the argument to get the maximum for each row and column
fifa_mean = fifa_players.pivot_table(index=['nationality', 'club'], 
                                     columns='year', 
                                     aggfunc='max', 
                                     margins=True)

# Print fifa_mean
print(fifa_mean)
                             height           weight         
    year                       2000 2010  All   2000 2010 All
    nationality club                                         
    Croatia     FC Barcelona    184  185  185     78   76  78
                Real Madrid     172  173  173     66   68  68
    Germany     FC Barcelona    187  189  189     85   87  87
                Real Madrid     183  185  185     76   77  77
    All                         187  189  189     85   87  87
```

## Converting Between Wide & Long Format 
Master the technique of reshaping DataFrames from wide to long format. In this chapter, you'll learn how to use the melting method and wide to long function before discovering how to handle string columns by concatenating or splitting them.

### Reshaping w/Melt (Wide to Long)
```python
In [2]:
books_gothic
Out[2]:

                        title       authors  num_pages  rating_count  rating          publisher
0           Wuthering Heights  Emily Bronte        322          2155    3.85      Penguin Books
1                Frankenstein  Mary Shelley        189          2452    4.31  Kaplan Publishing
2  The Picture of Dorian Gray   Oscar Wilde        187          3342    4.15            Pearson

# Melt books_gothic using the title column as identifier 
gothic_melted = books_gothic.melt(id_vars='title')

# Print gothic_melted
print(gothic_melted)
<script.py> output:
                             title      variable              value
    0            Wuthering Heights       authors       Emily Bronte
    1                 Frankenstein       authors       Mary Shelley
    2   The Picture of Dorian Gray       authors        Oscar Wilde
    3            Wuthering Heights     num_pages                322
    4                 Frankenstein     num_pages                189
    5   The Picture of Dorian Gray     num_pages                187
    6            Wuthering Heights  rating_count               2155
    7                 Frankenstein  rating_count               2452
    8   The Picture of Dorian Gray  rating_count               3342
    9            Wuthering Heights        rating               3.85
    10                Frankenstein        rating               4.31
    11  The Picture of Dorian Gray        rating               4.15
    12           Wuthering Heights     publisher      Penguin Books
    13                Frankenstein     publisher  Kaplan Publishing
    14  The Picture of Dorian Gray     publisher            Pearson
```

```python
# Melt books_gothic using the title, authors, and publisher columns as identifier
gothic_melted_new = books_gothic.melt(id_vars=['title','authors', 'publisher'])

# Print gothic_melted_new
print(gothic_melted_new)

<script.py> output:
                            title       authors          publisher      variable    value
    0           Wuthering Heights  Emily Bronte      Penguin Books     num_pages   322.00
    1                Frankenstein  Mary Shelley  Kaplan Publishing     num_pages   189.00
    2  The Picture of Dorian Gray   Oscar Wilde            Pearson     num_pages   187.00
    3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count  2155.00
    4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count  2452.00
    5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count  3342.00
    6           Wuthering Heights  Emily Bronte      Penguin Books        rating     3.85
    7                Frankenstein  Mary Shelley  Kaplan Publishing        rating     4.31
    8  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating     4.15
```
* Notice here as the unused columns are then placed per row with the variable and then value to transform to long version

```python
# Melt publisher column using title and authors as identifiers
publisher_melted = books_gothic.melt(id_vars=['title', 'authors'], 
                                     value_vars='publisher')

# Print publisher_melted
print(publisher_melted)
<script.py> output:
                            title       authors   variable              value
    0           Wuthering Heights  Emily Bronte  publisher      Penguin Books
    1                Frankenstein  Mary Shelley  publisher  Kaplan Publishing
    2  The Picture of Dorian Gray   Oscar Wilde  publisher            Pearson
    
    
# Melt rating and rating_count columns using the title as identifier
rating_melted = books_gothic.melt(id_vars='title', 
                                  value_vars=['rating', 'rating_count'])

# Print rating_melted
print(rating_melted)

<script.py> output:
                            title      variable    value
    0           Wuthering Heights        rating     3.85
    1                Frankenstein        rating     4.31
    2  The Picture of Dorian Gray        rating     4.15
    3           Wuthering Heights  rating_count  2155.00
    4                Frankenstein  rating_count  2452.00
    5  The Picture of Dorian Gray  rating_count  3342.00
    
# Melt rating and rating_count columns using title and authors as identifier
books_melted = books_gothic.melt(id_vars=['title', 'authors'], 
                                 value_vars=['rating', 'rating_count'])

# Print books_melted
print(books_melted)

                        title       authors      variable    value
0           Wuthering Heights  Emily Bronte        rating     3.85
1                Frankenstein  Mary Shelley        rating     4.31
2  The Picture of Dorian Gray   Oscar Wilde        rating     4.15
3           Wuthering Heights  Emily Bronte  rating_count  2155.00
4                Frankenstein  Mary Shelley  rating_count  2452.00
5  The Picture of Dorian Gray   Oscar Wilde  rating_count  3342.00
```

#### How is Frankenstein, Dorian Gray?
You are satisfied with the way you reshaped the books_gothic DataFrame, however, you would like to finish your work by naming the newly-created columns. This will help you clarify what the variables and values are.

You remember that .melt() allows you to do that. In order to achieve your goal, you will reshape your DataFrame in three steps.
```python
# Melt the rating and rating_count using title, authors and publisher as identifiers
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'])

# Print books_ratings
print(books_ratings)

                        title       authors          publisher      variable    value
0           Wuthering Heights  Emily Bronte      Penguin Books        rating     3.85
1                Frankenstein  Mary Shelley  Kaplan Publishing        rating     4.31
2  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating     4.15
3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count  2155.00
4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count  2452.00
5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count  3342.00


# Assign the name feature to the new variable column
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature')

# Print books_ratings
print(books_ratings)


                        title       authors          publisher       feature    value
0           Wuthering Heights  Emily Bronte      Penguin Books        rating     3.85
1                Frankenstein  Mary Shelley  Kaplan Publishing        rating     4.31
2  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating     4.15
3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count  2155.00
4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count  2452.00
5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count  3342.00

# Assign the name number to the new column containing the values
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature', 
                                  value_name='number')

# Print books_ratings
print(books_ratings)

                        title       authors          publisher       feature   number
0           Wuthering Heights  Emily Bronte      Penguin Books        rating     3.85
1                Frankenstein  Mary Shelley  Kaplan Publishing        rating     4.31
2  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating     4.15
3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count  2155.00
4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count  2452.00
5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count  3342.00
```

### Wide to Long Function
![Screen Shot 2023-03-13 at 7.25.15 PM](Screen%20Shot%202023-03-13%20at%207.25.15%20PM.png)

#### The golden age
In this exercise, you'll continue working on the book project. Now, you'll analyze books from the Golden Age.

Upon inspection, you discovered that the dataset golden_age needs reshaping. You noticed that some column names start with the same prefix (stub names) and identified other columns to use as unique IDs.

For that reason, you'll reshape your DataFrame in several ways.

In [5]:
golden_age = pd.DataFrame({
    'title':['The Great Gatsby', 'The Short Stories', 'To the Lighthouse'],
    'authors':['F. Scott Fitzgerald', 'Ernest Hemingway', 'Virginia Woolf'],
    'isbn13':[9780060098919, 9780684837864, 9780156030472],
    'isbn10':[1572702567, 684837862, 156030470],
    'prefix13':[978, 978, 978],
    'prefix10':[1,0,0]
})
golden_age

               title              authors  ...  prefix13  prefix10
0   The Great Gatsby  F. Scott Fitzgerald  ...       978         1
1  The Short Stories     Ernest Hemingway  ...       978         0
2  To the Lighthouse       Virginia Woolf  ...       978         0

[3 rows x 6 columns]

In [6]:
# Reshape wide to long using title as index and version as new name, and extracting isbn prefix 
isbn_long = pd.wide_to_long(golden_age,
                           stubnames='isbn',
                           i='title',
                           j='version')
display(isbn_long)

                                       authors  ...           isbn
title             version                       ...
The Great Gatsby  13       F. Scott Fitzgerald  ...  9780060098919
The Short Stories 13          Ernest Hemingway  ...  9780684837864
To the Lighthouse 13            Virginia Woolf  ...  9780156030472
The Great Gatsby  10       F. Scott Fitzgerald  ...     1572702567
The Short Stories 10          Ernest Hemingway  ...      684837862
To the Lighthouse 10            Virginia Woolf  ...      156030470

[6 rows x 4 columns]

In [7]:
# Reshape wide to long using title and authors as index and version as new name, and prefix as stubnames 
prefix_long = pd.wide_to_long(golden_age, 
                              stubnames='prefix', 
                              i=['title', 'authors'], 
                              j='version')

# Print prefix_long
display(prefix_long)
print(prefix_long.index) # notice how the suffix at the end of prefix is now held in the j column value for version

                                                   isbn10  ...  prefix
title             authors             version              ...
The Great Gatsby  F. Scott Fitzgerald 13       1572702567  ...     978
                                      10       1572702567  ...       1
The Short Stories Ernest Hemingway    13        684837862  ...     978
                                      10        684837862  ...       0
To the Lighthouse Virginia Woolf      13        156030470  ...     978
                                      10        156030470  ...       0

[6 rows x 3 columns]

MultiIndex([( 'The Great Gatsby', 'F. Scott Fitzgerald', 13),
            ( 'The Great Gatsby', 'F. Scott Fitzgerald', 10),
            ('The Short Stories',    'Ernest Hemingway', 13),
            ('The Short Stories',    'Ernest Hemingway', 10),
            ('To the Lighthouse',      'Virginia Woolf', 13),
            ('To the Lighthouse',      'Virginia Woolf', 10)],
           names=['title', 'authors', 'version'])

In [8]:
# Reshape wide to long using title and authors as index and version as new name, and prefix and isbn as wide column prefixes
all_long = pd.wide_to_long(golden_age, 
                   stubnames=['isbn', 'prefix'], 
                   i=['title', 'authors'], 
                   j='version')

# Print all_long
display(all_long)

                                                        isbn  prefix
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13       9780060098919     978
                                      10          1572702567       1
The Short Stories Ernest Hemingway    13       9780684837864     978
                                      10           684837862       0
To the Lighthouse Virginia Woolf      13       9780156030472     978
                                      10           156030470       0

#### Decrypting the code
You are doing a great job on the book project! Your boss encouraged you to do an analysis using books written by Dan Brown.

You explored the dataset books_brown and it needs reshaping. Again, you identified several columns to use as unique IDs and realized something different about the columns to group. Their name starts with a prefix, but this time, you identified a suffix and a separation element.

```python

books_brown
Out[2]:

                  title     author  language_code language_name  publisher_code publisher_name
0     The Da Vinci Code  Dan Brown              0       english              12   Random House
1       Angels & Demons  Dan Brown              0       english              34   Pocket Books
2  La fortaleza digital  Dan Brown             84       spanish              43        Umbriel

# Specify that wide columns have a suffix containing words
the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language', 'publisher'], 
                                i=['author', 'title'], 
                                j='code', 
                                sep='_', 
                                suffix='\w+')

# Print the_code_long
print(the_code_long)

                                   language     publisher
author    title                code                       
Dan Brown The Da Vinci Code    code        0            12
                               name  english  Random House
          Angels & Demons      code        0            34
                               name  english  Pocket Books
          La fortaleza digital code       84            43
                               name  spanish       Umbriel
```
* Notice how you needed to specify the separating elements. When you didn't do that, pandas didn't recognize the column names and returned an empty DataFrame. Also, wide_to_long() always assumes that suffixes are numeric, so don't forget to specify if they are not!

#### Time to read, Katniss!
It's almost time to finish working for the day. But first, you would like to do an analysis for fun. You will analyze another book dataset, this time with the Hunger Games series.

You explored the dataset books_hunger before reshaping it, but something was not right. The index of the DataFrame contains the title of the books. You know that you cannot reshape it in this format. If you do, you will lose valuable data, the title, so you'll need to make some changes before transforming the DataFrame.

```python
In [1]:
books_hunger
Out[1]:

                       language publication date  publication number  page number
title                                                                            
Los Juegos del Hambre   Spanish        5/25/2010                   2          374
Catching Fire           English        5/25/2012                   6          391
Il canto della rivolta  Italian         6/8/2015                   4          390

# Modify books_hunger by resetting the index without dropping it (send title value index to column)
books_hunger.reset_index(drop=False, inplace=True)

print(books_hunger, '\n')

# Reshape using title and language as index, feature as new name, publication and page as prefix separated by space and ending in a word
publication_features = pd.wide_to_long(books_hunger, 
                                       stubnames=['publication', 'page'], 
                                       i=['title', 'language'], 
                                       j='feature', 
                                       sep=' ', 
                                       suffix='\w+')

# # Print publication_features
print(publication_features)

# First print out
                    title language publication date  publication number  page number
0   Los Juegos del Hambre  Spanish        5/25/2010                   2          374
1           Catching Fire  English        5/25/2012                   6          391
2  Il canto della rivolta  Italian         6/8/2015                   4          390 

# second print out     

title                  language feature   publication page             
Los Juegos del Hambre  Spanish  date      5/25/2010    NaN
                                number            2  374.0
Catching Fire          English  date      5/25/2012    NaN
                                number            6  391.0
Il canto della rivolta Italian  date       6/8/2015    NaN
                                number            4  390.0
```
* You will always need to reset the index of a DataFrame if you want to keep it after applying wide_to_long(). Also, notice that missing values appear if you don't have a column for a particular prefix and suffix combination.

### String Columns Concat/Molding
#### Did you say dystopia?
Another day at work, another day working with your book project! You are very excited because you have been making a lot of progress. You plan to work on a dataset about dystopian fiction books.

But first, you need to do some string manipulations. You realize that the DataFrame index contains data about the title and the release year. You can't find a column with the author of the book, so you decide to pre-define a list of the writers. Then, you want to delete the year and replace it with the author.

You decide that splitting the index and then concatenating it with the list is the best way to do it.

In [9]:
books_dys = pd.DataFrame({
    'title':['Fahrenheit 451-1953', '1984-1949', 'Brave New World-1932'],
    'year':[1953,1949,1932],
    'num_pages':[186,268,123],
    'average_rating':[4.10,4.31,4.30],
    'ratings_count':[23244, 14353, 23535]
})
books_dys = books_dys.set_index('title')
display(books_dys)

                      year  num_pages  average_rating  ratings_count
title
Fahrenheit 451-1953   1953        186            4.10          23244
1984-1949             1949        268            4.31          14353
Brave New World-1932  1932        123            4.30          23535

In [10]:
# Split the index of books_dys by the hyphen 
books_dys.index = books_dys.index.str.split('-')
print(books_dys)

                         year  num_pages  average_rating  ratings_count
title
[Fahrenheit 451, 1953]   1953        186            4.10          23244
[1984, 1949]             1949        268            4.31          14353
[Brave New World, 1932]  1932        123            4.30          23535

In [11]:
# Get the first element after splitting the index of books_dys
books_dys.index = books_dys.index.str.get(0)

# Print books_dys
print(books_dys)

                 year  num_pages  average_rating  ratings_count
title
Fahrenheit 451   1953        186            4.10          23244
1984             1949        268            4.31          14353
Brave New World  1932        123            4.30          23535

In [12]:
# Values to concatenate index with
author_list = ['Ray Bradbury', 'George Orwell', 'Aldous Huxley']

# Concatenate the index with the list author_list separated by a hyphen
books_dys.index = books_dys.index.str.cat(author_list, sep='-')

# Print books_dys
display(books_dys)

                               year  num_pages  average_rating  ratings_count
title
Fahrenheit 451-Ray Bradbury    1953        186            4.10          23244
1984-George Orwell             1949        268            4.31          14353
Brave New World-Aldous Huxley  1932        123            4.30          23535

* The str attribute of pandas makes it easy to work with strings, even when they are in the index, which is something that would be very difficult to handle otherwise!

### What's your rating, Harry?
You fix yourself a coffee and keep working on your book project. For your next task, you need to get an appropriate dataset containing ratings for all the Harry Potter books. You gathered data from Goodreads as well as from Amazon.

You realized that you need a long format, but the dataset hp_books is in a wide format. You want to melt the data, but first, you need to manipulate some of the string columns.

```python
In [1]:
hp_books
Out[1]:

          title                   subtitle                     authors  goodreads  amazon
0  Harry Potter     the Half-Blood Prince   J.K. Rowling/Mary GrandPrÃ©       4.57    4.52
1  Harry Potter  the Order of the Phoenix   J.K. Rowling/Mary GrandPrÃ©       4.49    4.44
2  Harry Potter    the Chamber of Secrets                 J.K. Rowling       4.42    4.37
3  Harry Potter   the Prisoner of Azkaban   J.K. Rowling/Mary GrandPrÃ©       4.56    4.51
4  Harry Potter        The Deathly Hallows  J.K. Rowling/Mary GrandPrÃ©       4.42    4.37
5  Harry Potter      the Sorcerer's Stone   J.K. Rowling/Mary GrandPrÃ©       4.47    4.42
6  Harry Potter        the Goblet of Fire                 J.K. Rowling       4.56    4.51
```

* Concatenate two columns
```python
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =' and ') 

# Print hp_books
print(hp_books)


          title                   subtitle                     authors  goodreads  amazon                                 full_title
0  Harry Potter     the Half-Blood Prince   J.K. Rowling/Mary GrandPrÃ©       4.57    4.52     Harry Potter and the Half-Blood Prince 
1  Harry Potter  the Order of the Phoenix   J.K. Rowling/Mary GrandPrÃ©       4.49    4.44  Harry Potter and the Order of the Phoenix 
2  Harry Potter    the Chamber of Secrets                 J.K. Rowling       4.42    4.37    Harry Potter and the Chamber of Secrets 
3  Harry Potter   the Prisoner of Azkaban   J.K. Rowling/Mary GrandPrÃ©       4.56    4.51   Harry Potter and the Prisoner of Azkaban 
4  Harry Potter        The Deathly Hallows  J.K. Rowling/Mary GrandPrÃ©       4.42    4.37        Harry Potter and The Deathly Hallows
5  Harry Potter      the Sorcerer's Stone   J.K. Rowling/Mary GrandPrÃ©       4.47    4.42      Harry Potter and the Sorcerer's Stone 
6  Harry Potter        the Goblet of Fire                 J.K. Rowling       4.56    4.51        Harry Potter and the Goblet of Fire 
```

* Split the authors into writer and illustrator columns

```python
# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True) 

# Print hp_books
print(hp_books)
          title                   subtitle                     authors  goodreads  amazon                             full_title        writer    illustrator
0  Harry Potter     the Half-Blood Prince   J.K. Rowling/Mary GrandPrÃ©       4.57    4.52     Harry Potter and the Half-Blood Prince   J.K. Rowling  Mary GrandPrÃ©
1  Harry Potter  the Order of the Phoenix   J.K. Rowling/Mary GrandPrÃ©       4.49    4.44  Harry Potter and the Order of the Phoenix   J.K. Rowling  Mary GrandPrÃ©
2  Harry Potter    the Chamber of Secrets                 J.K. Rowling       4.42    4.37    Harry Potter and the Chamber of Secrets   J.K. Rowling           None
3  Harry Potter   the Prisoner of Azkaban   J.K. Rowling/Mary GrandPrÃ©       4.56    4.51   Harry Potter and the Prisoner of Azkaban   J.K. Rowling  Mary GrandPrÃ©
4  Harry Potter        The Deathly Hallows  J.K. Rowling/Mary GrandPrÃ©       4.42    4.37        Harry Potter and The Deathly Hallows  J.K. Rowling  Mary GrandPrÃ©
5  Harry Potter      the Sorcerer's Stone   J.K. Rowling/Mary GrandPrÃ©       4.47    4.42      Harry Potter and the Sorcerer's Stone   J.K. Rowling  Mary GrandPrÃ©
6  Harry Potter        the Goblet of Fire                 J.K. Rowling       4.56    4.51        Harry Potter and the Goblet of Fire   J.K. Rowling           None
```

* Melt goodreads/Amazon into single column
    * Define a DataFrame hp_melt by melting the goodreads and amazon columns into a single column named source. Assign the name rating to the resulting value column. Use only the full title and the writer as identifier variables. 

```python
# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title', 'writer'], 
                        var_name='source', 
                        value_vars=['goodreads', 'amazon'], 
                        value_name='rating')

# Print hp_melt
print(hp_melt)

                                    full_title        writer     source  rating
0      Harry Potter and the Half-Blood Prince   J.K. Rowling  goodreads    4.57
1   Harry Potter and the Order of the Phoenix   J.K. Rowling  goodreads    4.49
2     Harry Potter and the Chamber of Secrets   J.K. Rowling  goodreads    4.42
3    Harry Potter and the Prisoner of Azkaban   J.K. Rowling  goodreads    4.56
4         Harry Potter and The Deathly Hallows  J.K. Rowling  goodreads    4.42
5       Harry Potter and the Sorcerer's Stone   J.K. Rowling  goodreads    4.47
6         Harry Potter and the Goblet of Fire   J.K. Rowling  goodreads    4.56
7      Harry Potter and the Half-Blood Prince   J.K. Rowling     amazon    4.52
8   Harry Potter and the Order of the Phoenix   J.K. Rowling     amazon    4.44
9     Harry Potter and the Chamber of Secrets   J.K. Rowling     amazon    4.37
10   Harry Potter and the Prisoner of Azkaban   J.K. Rowling     amazon    4.51
11        Harry Potter and The Deathly Hallows  J.K. Rowling     amazon    4.37
12      Harry Potter and the Sorcerer's Stone   J.K. Rowling     amazon    4.42
13        Harry Potter and the Goblet of Fire   J.K. Rowling     amazon    4.51
```
* `melt` quickly condenses (think var_name as `title` of collapsed columns to long format) and value_name as what value the collapsed column is

### Elementary, dear Watson!
It's Friday, and you are about to finish working on your book project. For your last task, you will analyze data about Arthur Conan Doyle's books.

You realize your dataset, books_sh, needs reshaping. You notice there are columns that can be grouped using a prefix. You identify the columns to use as unique IDs. However, some of these columns contain strings. They need some manipulation before applying a wide to long transformation. You decide some of the strings need splitting to make the DataFrame cleaner.

* Original DataFrame
```python
In [1]:
books_sh
Out[1]:

                               main_title version  number_pages  number_ratings
0    Sherlock Holmes: The Complete Novels   Vol I          1059           24087
1    Sherlock Holmes: The Complete Novels  Vol II           709           26794
2  Adventures of Sherlock Holmes: Memoirs   Vol I           334            2184
3  Adventures of Sherlock Holmes: Memoirs  Vol II           238            1884
```
* Resulting work
```python
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume 
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Drop the main_title and version columns modifying books_sh
books_sh.drop(['main_title', 'version'], axis=1, inplace=True)

# Reshape using title, subtitle and volume as index, name feature the new variable from columns starting with number, separated by undescore and ending in words 
sh_long = pd.wide_to_long(books_sh, stubnames='number', i=['title', 'subtitle', 'volume'], 
                  j='feature', sep='_', suffix='\w+')

# Print sh_long 
print(sh_long)

                                                                   number
title                         subtitle             volume feature        
Sherlock Holmes                The Complete Novels I      pages      1059
                                                          ratings   24087
                                                   II     pages       709
                                                          ratings   26794
Adventures of Sherlock Holmes  Memoirs             I      pages       334
                                                          ratings    2184
                                                   II     pages       238
                                                          ratings    1884
```

<br>

## Stacking and unstacking DataFrames

In this chapter, youâ€™ll level-up your data manipulation skills using multi-level indexing. You'll learn how to reshape DataFrames by rearranging levels of the row indexes to the column axis, or vice versa. You'll also gain the skills you need to handle missing data generated in the stacking and unstacking process

In [13]:
churn = pd.DataFrame({
    'Area code' : [408,408,415,510],
    'total_day_calls':[116,109,84,67],
    'total_day_minutes':[204,287,84,50]
})
churn

   Area code  total_day_calls  total_day_minutes
0        408              116                204
1        408              109                287
2        415               84                 84
3        510               67                 50

In [14]:
# Predefined list to use as index
new_index = [['California', 'California', 'New York', 'Ohio'], 
             ['Los Angeles', 'San Francisco', 'New York', 'Cleveland']]

# Create a multi-level index using predefined new_index
churn_new = pd.MultiIndex.from_arrays(new_index, names=['state', 'city'])

# Print churn_new
print(churn_new)

MultiIndex([('California',   'Los Angeles'),
            ('California', 'San Francisco'),
            (  'New York',      'New York'),
            (      'Ohio',     'Cleveland')],
           names=['state', 'city'])

In [15]:
# Assign the new index to the churn index
churn.index = churn_new

# Print churn
print(churn)

                          Area code  total_day_calls  total_day_minutes
state      city
California Los Angeles          408              116                204
           San Francisco        408              109                287
New York   New York             415               84                 84
Ohio       Cleveland            510               67                 50

In [16]:
# Reshape by stacking churn DataFrame
churn_stack = churn.stack()

# Print churn_stack
display(churn_stack)

state       city
California  Los Angeles    Area code            408
                           total_day_calls      116
                           total_day_minutes    204
            San Francisco  Area code            408
                           total_day_calls      109
                           total_day_minutes    287
New York    New York       Area code            415
                           total_day_calls       84
                           total_day_minutes     84
Ohio        Cleveland      Area code            510
                           total_day_calls       67
                           total_day_minutes     50
dtype: int64

In [17]:
churn_stack.index

MultiIndex([('California',   'Los Angeles',         'Area code'),
            ('California',   'Los Angeles',   'total_day_calls'),
            ('California',   'Los Angeles', 'total_day_minutes'),
            ('California', 'San Francisco',         'Area code'),
            ('California', 'San Francisco',   'total_day_calls'),
            ('California', 'San Francisco', 'total_day_minutes'),
            (  'New York',      'New York',         'Area code'),
            (  'New York',      'New York',   'total_day_calls'),
            (  'New York',      'New York', 'total_day_minutes'),
            (      'Ohio',     'Cleveland',         'Area code'),
            (      'Ohio',     'Cleveland',   'total_day_calls'),
            (      'Ohio',     'Cleveland', 'total_day_minutes')],
           names=['state', 'city', None])

* If no level given to **stack** it will condense all available columns and create a new index/row for each column value under its' parent Multi-Index (for example above)

#### Phone directory index
After reshaping the dataset, you sent it to your colleagues and asked them to fill in some data. Now, they sent the new churn dataset back and you realized that its shape has changed.

Before you go on, you need to do some reshaping again. The dataset contains a multi-level index in the columns. You'd like to have some columns set as the row index. Also, this time you will only stack some levels. You believe it will help you discover some patterns in the data.

The DataFrame churn is available for you. It contains data about state, city, total_day_calls and total_day_minutes during day and night time

* state of churn 
```python
In [1]:
churn
Out[1]:

        state           city       night                       day              
                             total calls total minutes total calls total minutes
0  California    Los Angeles         116           204          85           107
1  California  San Francisco         109           287          90           167
2    New York       New York          84            84          75            90
3        Ohio      Cleveland          67            50          67           110
In [2]:
churn.columns
Out[2]:

MultiIndex([('state',              ''),
            ( 'city',              ''),
            ('night',   'total calls'),
            ('night', 'total minutes'),
            (  'day',   'total calls'),
            (  'day', 'total minutes')],
           )

```

```python
# Set state and city as index modifying the DataFrame
churn.set_index(['state', 'city'], inplace=True)

# Print churn
print(churn)
                               night                       day              
                         total calls total minutes total calls total minutes
state      city                                                             
California Los Angeles           116           204          85           107
           San Francisco         109           287          90           167
New York   New York               84            84          75            90
Ohio       Cleveland              67            50          67           110
```

* Stack second column level
```python
# Reshape by stacking the second level
churn_stack = churn.stack(level=1)

# Print churn_stack
print(churn_stack)

                                        day  night
state      city                                   
California Los Angeles   total calls     85    116
                         total minutes  107    204
           San Francisco total calls     90    109
                         total minutes  167    287
New York   New York      total calls     75     84
                         total minutes   90     84
Ohio       Cleveland     total calls     67     67
                         total minutes  110     50
```

#### Text me!
You are making progress in your customer's project. Now, you need to analyze a new dataset to find differences in the messages and gigabytes (GB) of data the customers use during the daytime and nighttime.

To that aim, you will reshape your dataset churn using different levels. The advantage of your new dataset is that the column indices have names.

The DataFrame churn is available for you. It contains data about state, city, text messages and total GB during day and night time.

* churn dataframe for exercise
```python
In [1]:
churn
Out[1]:

time                               day                  night         
feature                  text messages total GB text messages total GB
state      city                                                       
California Los Angeles              20        5            30       10
           San Francisco            40        5           100        5
New York   New York                 50        2            20        9
Ohio       Cleveland               100        3            40        6

In [2]:
churn.columns 
Out[2]:

MultiIndex([(  'day', 'text messages'),
            (  'day',      'total GB'),
            ('night', 'text messages'),
            ('night',      'total GB')],
           names=['time', 'feature'])
```

```python
# Stack churn by the time column level (remember the level starts at zero for the column we're stacking into index)
churn_time = churn.stack(level=0)

# Print churn_time
print(churn_time)

feature                         text messages  total GB
state      city          time                          
California Los Angeles   day               20         5
                         night             30        10
           San Francisco day               40         5
                         night            100         5
New York   New York      day               50         2
                         night             20         9
Ohio       Cleveland     day              100         3
                         night             40         6
```

* feature stacking for column multi-index
```python
# Stack churn by the feature column level
churn_feature = churn.stack(level=1)

# Print churn_feature
print(churn_feature)


time                                    day  night
state      city          feature                  
California Los Angeles   text messages   20     30
                         total GB         5     10
           San Francisco text messages   40    100
                         total GB         5      5
New York   New York      text messages   50     20
                         total GB         2      9
Ohio       Cleveland     text messages  100     40
                         total GB         3      6
```

### International Caller
* Unstack dataframe
    * unstacks MultiIndex into column starting with default of inner most index first

In [18]:
arrays = [['day', 'day', 'night', 'night', 'eve', 'eve'], ['International', 'National', 'International', 'National', 'International', 'National'], ['churn', 'churn', 'churn', 'no churn', 'no churn', 'no churn']]
multi_index = pd.MultiIndex.from_arrays(arrays, names=['time', 'type', 'exited'])
churn = pd.DataFrame({
    'minutes':[184.5, 129.1, 332.9, 110.4, 119.3, 137.1],
    'calls':[97, 137, 67, 103, 117, 88],
    'charge':[31.37, 21.95, 56.59, 18.77, 20.28, 23.31]
}, index=multi_index)
display(churn)

                              minutes  calls  charge
time  type          exited
day   International churn       184.5     97   31.37
      National      churn       129.1    137   21.95
night International churn       332.9     67   56.59
      National      no churn    110.4    103   18.77
eve   International no churn    119.3    117   20.28
      National      no churn    137.1     88   23.31

In [19]:
# Reshape the churn DataFrame by unstacking
churn_unstack = churn.unstack()

# print churn unstack
display(churn_unstack)

                    minutes           calls          charge
exited                churn no churn  churn no churn  churn no churn
time  type
day   International   184.5      NaN   97.0      NaN  31.37      NaN
      National        129.1      NaN  137.0      NaN  21.95      NaN
eve   International     NaN    119.3    NaN    117.0    NaN    20.28
      National          NaN    137.1    NaN     88.0    NaN    23.31
night International   332.9      NaN   67.0      NaN  56.59      NaN
      National          NaN    110.4    NaN    103.0    NaN    18.77

In [20]:
churn_unstack.columns

MultiIndex([('minutes',    'churn'),
            ('minutes', 'no churn'),
            (  'calls',    'churn'),
            (  'calls', 'no churn'),
            ( 'charge',    'churn'),
            ( 'charge', 'no churn')],
           names=[None, 'exited'])

* `Unstack()` takes the inner most MultiIndex **exited** and nests the values underneath the columns and for unavailable values, fills with NaN

In [21]:
# Reshape churn by unstacking the first row level
churn_first = churn.unstack(level=0)

# Print churn_zero
display(churn_first)

                       minutes                calls  ...        charge
time                       day    eve  night    day  ...  night    day    eve  night
type          exited                                 ...
International churn      184.5    NaN  332.9   97.0  ...   67.0  31.37    NaN  56.59
              no churn     NaN  119.3    NaN    NaN  ...    NaN    NaN  20.28    NaN
National      churn      129.1    NaN    NaN  137.0  ...    NaN  21.95    NaN    NaN
              no churn     NaN  137.1  110.4    NaN  ...  103.0    NaN  23.31  18.77

[4 rows x 9 columns]

* level argument for unstack is zero based like list indexing and takes the time index or `left-most` index with the level set at zero

In [22]:
# Reshape churn by unstacking the second row level
churn_second = churn.unstack(level=1)

# Print churn_second
display(churn_second)

                     minutes           ...        charge
type           International National  ... International National
time  exited                           ...
day   churn            184.5    129.1  ...         31.37    21.95
eve   no churn         119.3    137.1  ...         20.28    23.31
night churn            332.9      NaN  ...         56.59      NaN
      no churn           NaN    110.4  ...           NaN    18.77

[4 rows x 6 columns]

In [23]:
churn

                              minutes  calls  charge
time  type          exited
day   International churn       184.5     97   31.37
      National      churn       129.1    137   21.95
night International churn       332.9     67   56.59
      National      no churn    110.4    103   18.77
eve   International no churn    119.3    117   20.28
      National      no churn    137.1     88   23.31

In [24]:
# Unstack the time level from churn
churn_time = churn.unstack(level='time')

# Print churn_time
display(churn_time)

                       minutes                calls  ...        charge
time                       day    eve  night    day  ...  night    day    eve  night
type          exited                                 ...
International churn      184.5    NaN  332.9   97.0  ...   67.0  31.37    NaN  56.59
              no churn     NaN  119.3    NaN    NaN  ...    NaN    NaN  20.28    NaN
National      churn      129.1    NaN    NaN  137.0  ...    NaN  21.95    NaN    NaN
              no churn     NaN  137.1  110.4    NaN  ...  103.0    NaN  23.31  18.77

[4 rows x 9 columns]

* `level` argument also takes multiindex value names apart from index level

### Call another time
You discover some patterns when you reshaped the DataFrame. Now, you want to unstack the DataFrame again. This time you will choose which level to unstack and reorganize your indices.

In [25]:
# Sort the index in descending order
churn_time = churn.unstack(level='time').sort_index(ascending=False)

# Print churn_time
display(churn_time)

                       minutes                calls  ...        charge
time                       day    eve  night    day  ...  night    day    eve  night
type          exited                                 ...
National      no churn     NaN  137.1  110.4    NaN  ...  103.0    NaN  23.31  18.77
              churn      129.1    NaN    NaN  137.0  ...    NaN  21.95    NaN    NaN
International no churn     NaN  119.3    NaN    NaN  ...    NaN    NaN  20.28    NaN
              churn      184.5    NaN  332.9   97.0  ...   67.0  31.37    NaN  56.59

[4 rows x 9 columns]

### Organizing your voicemail
You will perform one final task before moving to a new project. You will reshape the DataFrame churn again. This time, you'll reorganize a row index as a column index. After that, you will move a column index to a row index. To do this, you will first unstack the DataFrame, and then stack it.

In [26]:
# Unstack churn by type level
churn_type = churn.unstack(level='type')

# Stack the resulting DataFrame using the first column level
churn_final = churn_type.stack(level=0)

# Print churn_type
display(churn_final)

type                    International  National
time  exited
day   churn    calls            97.00    137.00
               charge           31.37     21.95
               minutes         184.50    129.10
eve   no churn calls           117.00     88.00
               charge           20.28     23.31
               minutes         119.30    137.10
night churn    calls            67.00       NaN
               charge           56.59       NaN
               minutes         332.90       NaN
      no churn calls              NaN    103.00
               charge             NaN     18.77
               minutes            NaN    110.40

### Swap your SIM card
Great job so far! You were able to reshape your dataset in several ways. Now it's time to go a step further and analyze the data to discover if a customer's cell phone plan is related to the customer leaving.

```python
In [14]:
churn
Out[14]:

year                               2019                   2020               
plan                            minutes voicemail data minutes voicemail data
exited   state      city                                                     
churn    California Los Angeles       0         1    2       1         1    5
no_churn California Los Angeles       0         1    3       1         0    2
churn    New York   New York          1         0    5       0         1    2
no_churn New York   New York          1         0    4       1         0    6
In [15]:
churn.columns
Out[15]:

MultiIndex([('2019',   'minutes'),
            ('2019', 'voicemail'),
            ('2019',      'data'),
            ('2020',   'minutes'),
            ('2020', 'voicemail'),
            ('2020',      'data')],
           names=['year', 'plan'])
In [16]:
churn.index
Out[16]:

MultiIndex([(   'churn', 'California', 'Los Angeles'),
            ('no_churn', 'California', 'Los Angeles'),
            (   'churn',   'New York',    'New York'),
            ('no_churn',   'New York',    'New York')],
           names=['exited', 'state', 'city']
```
* This is the default churn dataset provided in the exercise, let's make it
* Looks like the easiest may be to create a Pandas MultiIndex Series then start unstacking

```python

In [11]:
churn_s = churn_s.stack()
In [12]:
churn_s
Out[12]:

exited    state       city         plan       year
churn     California  Los Angeles  data       2019    2
                                              2020    5
                                   minutes    2019    0
                                              2020    1
                                   voicemail  2019    1
                                              2020    1
no_churn  California  Los Angeles  data       2019    3
                                              2020    2
                                   minutes    2019    0
                                              2020    1
                                   voicemail  2019    1
                                              2020    0
churn     New York    New York     data       2019    5
                                              2020    2
                                   minutes    2019    1
                                              2020    0
                                   voicemail  2019    0
                                              2020    1
no_churn  New York    New York     data       2019    4
                                              2020    6
                                   minutes    2019    1
                                              2020    1
                                   voicemail  2019    0
                                              2020    0
dtype: int64
```

In [27]:
arrays_idx = [['churn', 'churn', 'churn', 'churn', 'churn', 'churn', 
               'no_churn', 'no_churn', 'no_churn', 'no_churn', 'no_churn', 'no_churn',
               'churn', 'churn', 'churn', 'churn', 'churn', 'churn', 
               'no_churn', 'no_churn', 'no_churn', 'no_churn', 'no_churn', 'no_churn',], 
             ['California', 'California', 'California', 'California', 'California', 'California',
              'California', 'California', 'California', 'California', 'California', 'California',
              'New York', 'New York', 'New York', 'New York', 'New York', 'New York',
              'New York', 'New York', 'New York', 'New York', 'New York', 'New York',],
             ['Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles',
              'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles',
              'New York', 'New York', 'New York', 'New York', 'New York', 'New York',
              'New York', 'New York', 'New York', 'New York', 'New York', 'New York',],
             ['data', 'data', 'minutes', 'minutes', 'voicemail', 'voicemail',
              'data', 'data', 'minutes', 'minutes', 'voicemail', 'voicemail',
              'data', 'data', 'minutes', 'minutes', 'voicemail', 'voicemail',
              'data', 'data', 'minutes', 'minutes', 'voicemail', 'voicemail'],
              [2019,2020,2019,2020, 2019,2020,
              2019,2020,2019,2020, 2019,2020,
              2019,2020,2019,2020, 2019,2020,
              2019,2020,2019,2020, 2019,2020]
             ]
multi_idx_idx = pd.MultiIndex.from_arrays(arrays_idx, names=['exited', 'state', 'city', 'plan', 'year'])
sim_series_values = [2, 5, 0, 1, 1, 1, 3, 2, 0, 1, 1, 0, 5, 2, 1, 0, 0, 1, 4, 6, 1, 1, 0, 0]
sim_pd_series = pd.Series(sim_series_values, index=multi_idx_idx)
display(sim_pd_series)

exited    state       city         plan       year
churn     California  Los Angeles  data       2019    2
                                              2020    5
                                   minutes    2019    0
                                              2020    1
                                   voicemail  2019    1
                                              2020    1
no_churn  California  Los Angeles  data       2019    3
                                              2020    2
                                   minutes    2019    0
                                              2020    1
                                   voicemail  2019    1
                                              2020    0
churn     New York    New York     data       2019    5
                                              2020    2
                                   minutes    2019    1
                                              2020    0
                                   voicemail  2019    0
                                              2020    1
no_churn  New York    New York     data       2019    4
                                              2020    6
                                   minutes    2019    1
                                              2020    1
                                   voicemail  2019    0
                                              2020    0
dtype: int64

* Alright cool so that series looks in good shape, now let's see if we can unstack the level values to get a dataframe similar to the one provided

In [28]:
churn_df_ser_unstack = sim_pd_series.unstack('year').unstack('plan')
churn_df_ser_unstack

year                            2019                   2020
plan                            data minutes voicemail data minutes voicemail
exited   state      city
churn    California Los Angeles    2       0         1    5       1         1
         New York   New York       5       1         0    2       0         1
no_churn California Los Angeles    3       0         1    2       1         0
         New York   New York       4       1         0    6       1         0

* We'll ... the values are the same but a slightly different layout for the dataframe compared to provided. ...Say la vie

In [29]:
# Let's look at swapping first and third row index
churn_swap = churn_df_ser_unstack.swaplevel(0, 2)
display(churn_swap)

# Reshape by unstacking the last row level 
churn_unstack = churn_swap.unstack(level=-1)
print('\n')
display(churn_unstack)

year                            2019                   2020
plan                            data minutes voicemail data minutes voicemail
city        state      exited
Los Angeles California churn       2       0         1    5       1         1
New York    New York   churn       5       1         0    2       0         1
Los Angeles California no_churn    3       0         1    2       1         0
New York    New York   no_churn    4       1         0    6       1         0

year                    2019                   ...     2020
plan                    data          minutes  ...  minutes voicemail
exited                 churn no_churn   churn  ... no_churn     churn no_churn
city        state                              ...
Los Angeles California     2        3       0  ...        1         1        0
New York    New York       5        4       1  ...        1         1        0

[2 rows x 12 columns]

* From in exercise terminal

```python
In [3]:
churn_swap = churn.swaplevel(0, 2)
In [4]:
churn_swap
Out[4]:

year                               2019                   2020               
plan                            minutes voicemail data minutes voicemail data
city        state      exited                                                
Los Angeles California churn          0         1    2       1         1    5
                       no_churn       0         1    3       1         0    2
New York    New York   churn          1         0    5       0         1    2
                       no_churn       1         0    4       1         0    6
In [5]:
churn
Out[5]:

year                               2019                   2020               
plan                            minutes voicemail data minutes voicemail data
exited   state      city                                                     
churn    California Los Angeles       0         1    2       1         1    5
no_churn California Los Angeles       0         1    3       1         0    2
churn    New York   New York          1         0    5       0         1    2
no_churn New York   New York          1         0    4       1         0    6
```

```python
# Reshape by unstacking the last row level 
churn_unstack = churn_swap.unstack(level=-1)

# Print churn_unstack
print(churn_unstack)

<script.py> output:
    year                      2019                                               2020                                           
    plan                   minutes          voicemail           data          minutes          voicemail           data         
    exited                   churn no_churn     churn no_churn churn no_churn   churn no_churn     churn no_churn churn no_churn
    city        state                                                                                                           
    Los Angeles California       0        0         1        1     2        3       1        1         1        0     5        2
    New York    New York         1        1         0        0     5        4       0        1         1        0     2        6
```

* A little bit deeper

```python
# Unstack the first and second row level of churn
churn_unstack = churn.unstack(level=[0, 1])

# Stack the resulting DataFrame using plan and year
churn_py = churn_unstack.stack(['plan', 'year'])

# Switch the first and second column levels
churn_switch = churn_py.swaplevel(0, 1, axis=1)

# Print churn_switch
print(churn_switch)

<script.py> output:
    state                      California New York California New York
    exited                          churn    churn   no_churn no_churn
    city        plan      year                                        
    Los Angeles data      2019        2.0      NaN        3.0      NaN
                          2020        5.0      NaN        2.0      NaN
                minutes   2019        0.0      NaN        0.0      NaN
                          2020        1.0      NaN        1.0      NaN
                voicemail 2019        1.0      NaN        1.0      NaN
                          2020        1.0      NaN        0.0      NaN
    New York    data      2019        NaN      5.0        NaN      4.0
                          2020        NaN      2.0        NaN      6.0
                minutes   2019        NaN      1.0        NaN      1.0
                          2020        NaN      0.0        NaN      1.0
                voicemail 2019        NaN      0.0        NaN      0.0
                          2020        NaN      1.0        NaN      0.0
```

In [30]:
churn_unstack = churn_df_ser_unstack.unstack(level=[0,1])
churn_py = churn_unstack.stack(['plan', 'year'])
churn_switch = churn_py.swaplevel(0,1,axis=1)
display(churn_switch)

state                      California New York California New York
exited                          churn    churn   no_churn no_churn
city        plan      year
Los Angeles data      2019        2.0      NaN        3.0      NaN
                      2020        5.0      NaN        2.0      NaN
            minutes   2019        0.0      NaN        0.0      NaN
                      2020        1.0      NaN        1.0      NaN
            voicemail 2019        1.0      NaN        1.0      NaN
                      2020        1.0      NaN        0.0      NaN
New York    data      2019        NaN      5.0        NaN      4.0
                      2020        NaN      2.0        NaN      6.0
            minutes   2019        NaN      1.0        NaN      1.0
                      2020        NaN      0.0        NaN      1.0
            voicemail 2019        NaN      0.0        NaN      0.0
                      2020        NaN      1.0        NaN      0.0

### A missed phone call
You finished reshaping your churn dataset in the previous exercises. Now, it is ready to be used. You remember that something caught your attention. You are sure you saw a clear pattern in the data.

Before you fit a classification model, you decide to do something simpler. You want to see what else you can learn from the data. You will reshape your data by unstacking levels, but you know this process will generate missing data that you need to handle.

* dframe from exercise

```python
In [1]:
churn
Out[1]:

                                                total_day_calls  total_night_calls
state international_plan voice_mail_plan churn                                    
LA    No                 No              False          106.818             96.909
                                         True           100.000            119.000
                         Yes             False          100.000             84.250
NY    No                 No              False           90.900            100.800
                                         True            95.000            101.500
                         Yes             False          115.000            121.000
      Yes                No              False          109.000             99.000
                                         True            87.000            113.000
LA    Yes                No              False           78.000             90.000
                                         True            69.000            104.000
NY    Yes                Yes             False          120.000             78.000
LA    Yes                Yes             False           71.000            101.000
```

* get index level values for quicker creation

```python
In [4]:
churn.index.get_level_values(0)
Out[4]:
Index(['LA', 'LA', 'LA', 'NY', 'NY', 'NY', 'NY', 'NY', 'LA', 'LA', 'NY', 'LA'], dtype='object', name='state')
```

In [31]:
msd_idx_arrays = [['LA', 'LA', 'LA', 'NY', 'NY', 'NY', 'NY', 'NY', 'LA', 'LA', 'NY', 'LA'],
                 ['No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes'],
                 ['No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Yes'],
                 [False, True, False, False, True, False, False, True, False, True, False, False]
                 ]
msphc_idx_multi = pd.MultiIndex.from_arrays(msd_idx_arrays, names=['state', 'international_plan', 'voice_mail_plan', 'churn'])
print(msphc_idx_multi)

MultiIndex([('LA',  'No',  'No', False),
            ('LA',  'No',  'No',  True),
            ('LA',  'No', 'Yes', False),
            ('NY',  'No',  'No', False),
            ('NY',  'No',  'No',  True),
            ('NY',  'No', 'Yes', False),
            ('NY', 'Yes',  'No', False),
            ('NY', 'Yes',  'No',  True),
            ('LA', 'Yes',  'No', False),
            ('LA', 'Yes',  'No',  True),
            ('NY', 'Yes', 'Yes', False),
            ('LA', 'Yes', 'Yes', False)],
           names=['state', 'international_plan', 'voice_mail_plan', 'churn'])

In [32]:
churn_missed_calls = pd.DataFrame({
    'total_day_calls': [106.818,100.0,100.0,90.9,95.0,115.0,109.0,87.0,78.0,69.0,120.0,71.0],
    'total_night_calls':[96.909,119.0,84.25,100.8,101.5,121.0,99.0,113.0,90.0,104.0,78.0,101.0]
}, index=msphc_idx_multi)
display(churn_missed_calls)

                                                total_day_calls  total_night_calls
state international_plan voice_mail_plan churn
LA    No                 No              False          106.818             96.909
                                         True           100.000            119.000
                         Yes             False          100.000             84.250
NY    No                 No              False           90.900            100.800
                                         True            95.000            101.500
                         Yes             False          115.000            121.000
      Yes                No              False          109.000             99.000
                                         True            87.000            113.000
LA    Yes                No              False           78.000             90.000
                                         True            69.000            104.000
NY    Yes                Yes             False          120.000             78.000
LA    Yes                Yes             False           71.000            101.000

In [33]:
churn_missed_calls.index.names

FrozenList(['state', 'international_plan', 'voice_mail_plan', 'churn'])

In [34]:
# Unstack churn level and fill missing values with zero
churn_mc = churn_missed_calls.unstack(level='churn', fill_value=0)

# Sort by descending voice mail plan and ascending international plan
churn_sorted = churn_mc.sort_values(by=['voice_mail_plan', 'international_plan'], 
                          ascending=[False, True])

# Print final DataFrame and observe pattern
display(churn_sorted)

                                         total_day_calls  ... total_night_calls
churn                                              False  ...             True
state international_plan voice_mail_plan                  ...
LA    No                 Yes                     100.000  ...               0.0
NY    No                 Yes                     115.000  ...               0.0
LA    Yes                Yes                      71.000  ...               0.0
NY    Yes                Yes                     120.000  ...               0.0
LA    No                 No                      106.818  ...             119.0
NY    No                 No                       90.900  ...             101.5
LA    Yes                No                       78.000  ...             104.0
NY    Yes                No                      109.000  ...             113.0

[8 rows x 4 columns]

* Note here that the `sort_values` call accepts **index_levels** when axis=0 or the default argument for the method

### Don't drop the stack
It's almost time to go home, but first, you need to finish your last task. You have a small dataset containing the total number of calls made by customers.

To perform your analysis, you need to reshape your churn data by stacking different levels. You know this process will generate missing data. You want to check if it is worth keeping the rows that contain all missing values, or if it's better to drop that information.

The churn DataFrame is available for you.

```python
In [1]:
churn
Out[1]:

type  total_day_calls total_night_calls         
scope   international     international national
LA                 23                30      NaN
NY                  8                34     24.0
CA                  8                34     24.0
In [2]:
churn.columns
Out[2]:

MultiIndex([(  'total_day_calls', 'international'),
            ('total_night_calls', 'international'),
            ('total_night_calls',      'national')],
           names=['type', 'scope'])
```

* Reshape the churn DataFrame by stacking the type level. Then, fill the missing values generated with the value zero.

```python
# Stack the level type from churn
churn_stack = churn.stack(level='type')

# Fill the resulting missing values with zero 
churn_fill = churn_stack.fillna(0)

# Print churn_fill
print(churn_fill)

scope                 international  national
   type                                      
LA total_day_calls               23       0.0
   total_night_calls             30       0.0
NY total_day_calls                8       0.0
   total_night_calls             34      24.0
CA total_day_calls                8       0.0
   total_night_calls             34      24.0
```

* Stack the scope level of churn without dropping the rows with missing values. Then, fill the missing values with zero.

```python
# Stack the level scope without dropping rows with missing values
churn_stack = churn.stack(level='scope', dropna=False)

# Fill the resulting missing values with zero
churn_fill = churn_stack.fillna(0)

# Print churn_fill
print(churn_fill)

type              total_day_calls  total_night_calls
   scope                                            
LA international             23.0               30.0
   national                   0.0                0.0
NY international              8.0               34.0
   national                   0.0               24.0
CA international              8.0               34.0
   national                   0.0               24.0
```

### Advanced Reshaping
You'll finish by learning how to combine the reshaping process with grouping to produce quick data manipulations. Lastly, you'll discover how to transform list-like columns and handle complex nested data, such as nested JSON files.

In [36]:
obesity = pd.read_csv('datasets/obesity_list.csv')
obesity

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

* We'll that's not the dataframe we're using

In [37]:
obesity_idx_arrays = [['Argentina', 'Argentina', 'Argentina', 'Argentina', 'Japan', 'Japan', 'Japan', 'Japan', 'Norway', 'Norway',                          'Norway', 'Norway'],
                     ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
                     [2005, 2005, 2015, 2015, 2005, 2005, 2015, 2015, 2005, 2005, 2015, 2015]]
obesity_idx_mt = pd.MultiIndex.from_arrays(obesity_idx_arrays, names=['country', 'biological_sex', 'year'])
obesity = pd.DataFrame({
    'perc_obesity':[21.5, 24.2, 26.8, 28.5, 2.5, 2.6, 4.6, 3.6, 17.6, 18.6, 23.0, 22.2]
}, index=obesity_idx_mt)
display(obesity)

                               perc_obesity
country   biological_sex year
Argentina Male           2005          21.5
          Female         2005          24.2
          Male           2015          26.8
          Female         2015          28.5
Japan     Male           2005           2.5
          Female         2005           2.6
          Male           2015           4.6
          Female         2015           3.6
Norway    Male           2005          17.6
          Female         2005          18.6
          Male           2015          23.0
          Female         2015          22.2

In [42]:
# Unstack the first level and calculate the mean of the columns (odd as what they want is the mean for each sex_year over the countries for the answer ... not the columns which suggest the country unstacked from the index)
obesity_general = obesity.unstack(level=0)

# Print obesity_general
print(obesity_general, '\n', obesity_general.mean(axis=1), '\n', obesity_general.mean(axis=0), '\n')

# Accurate per dcamp
obesity_general_dc = obesity.unstack(level=0).mean(axis=1)
print(obesity_general_dc)

                    perc_obesity
country                Argentina Japan Norway
biological_sex year
Female         2005         24.2   2.6   18.6
               2015         28.5   3.6   22.2
Male           2005         21.5   2.5   17.6
               2015         26.8   4.6   23.0
 biological_sex  year
Female          2005    15.133333
                2015    18.100000
Male            2005    13.866667
                2015    18.133333
dtype: float64
               country
perc_obesity  Argentina    25.250
              Japan         3.325
              Norway       20.350
dtype: float64

biological_sex  year
Female          2005    15.133333
                2015    18.100000
Male            2005    13.866667
                2015    18.133333
dtype: float64

In [45]:
# Unstack the second level and calculate the mean of the columns
obesity_mean = obesity.unstack(level='biological_sex').mean(axis=1)

# Print obesity_mean
print(obesity.unstack(level='biological_sex'), '\n',obesity_mean)

               perc_obesity
biological_sex       Female  Male
country   year
Argentina 2005         24.2  21.5
          2015         28.5  26.8
Japan     2005          2.6   2.5
          2015          3.6   4.6
Norway    2005         18.6  17.6
          2015         22.2  23.0
 country    year
Argentina  2005    22.85
           2015    27.65
Japan      2005     2.55
           2015     4.10
Norway     2005    18.10
           2015    22.60
dtype: float64

In [47]:
# Unstack the third level and calculate the difference between columns
obesity_variation = obesity.unstack(level=-1).diff(axis=1)

# Print obesity_variation
print(obesity.unstack(level=-1), '\n\n', obesity_variation)

                         perc_obesity
year                             2005  2015
country   biological_sex
Argentina Female                 24.2  28.5
          Male                   21.5  26.8
Japan     Female                  2.6   3.6
          Male                    2.5   4.6
Norway    Female                 18.6  22.2
          Male                   17.6  23.0

                          perc_obesity
year                             2005 2015
country   biological_sex
Argentina Female                  NaN  4.3
          Male                    NaN  5.3
Japan     Female                  NaN  1.0
          Male                    NaN  2.1
Norway    Female                  NaN  3.6
          Male                    NaN  5.4

### Only going up
After your last analysis, you are excited to keep working with the obesity dataset. You have added an extra column, the variation column, which indicates the range in which the percentage varies through regions in the same country. You are not sure if the mean is the best metric to summarize obesity levels.

So you decide to explore the median percentage and variation of obesity by year and biological sex. Also, you want to get the maximum percentage observed by country, year, and biological sex.

In [50]:
obesity_2_idx_vals = [['France', 'France', 'France', 'France', 'Germany', 'Germany', 'Germany', 'Germany'],
                     ['Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male'],
                     ['perc_obesity', 'variation', 'perc_obesity', 'variation', 'perc_obesity', 'variation', 'perc_obesity', 'variation']]
obesity_2_idx_vals_midx = pd.MultiIndex.from_arrays(obesity_2_idx_vals, names=['country', 'biological_sex', None])
obesity_2_df = pd.DataFrame({
    1995:[15.3,  7.7, 12.8,  7.6, 14.4,  4.6, 14.4,  5.1],
    2005:[18.1,  8.2, 16.9,  8.4, 17.2,  5.2, 18.7,  5.9],
    2015:[20.8, 11.3, 21.5, 11.8, 20.1,  8.4, 23.6,  9.8]
},index=obesity_2_idx_vals_midx)
obesity_2_df.columns.name = 'year'
display(obesity_2_df)

year                                 1995  2005  2015
country biological_sex
France  Female         perc_obesity  15.3  18.1  20.8
                       variation      7.7   8.2  11.3
        Male           perc_obesity  12.8  16.9  21.5
                       variation      7.6   8.4  11.8
Germany Female         perc_obesity  14.4  17.2  20.1
                       variation      4.6   5.2   8.4
        Male           perc_obesity  14.4  18.7  23.6
                       variation      5.1   5.9   9.8

In [51]:
obesity_2_us_vals = obesity_2_df.unstack(level=-1)
obesity_2_us_vals

year                           1995            ...         2015
                       perc_obesity variation  ... perc_obesity variation
country biological_sex                         ...
France  Female                 15.3       7.7  ...         20.8      11.3
        Male                   12.8       7.6  ...         21.5      11.8
Germany Female                 14.4       4.6  ...         20.1       8.4
        Male                   14.4       5.1  ...         23.6       9.8

[4 rows x 6 columns]

In [54]:
# Stack obesity, get median of columns and unstack again (again of the column is unstacked by the row)
median_obesity = obesity_2_us_vals.stack(level=-1).median(axis=1).unstack()
display(median_obesity)

print('\n', obesity_2_us_vals.stack(level=-1))

                        perc_obesity  variation
country biological_sex
France  Female                  18.1        8.2
        Male                    16.9        8.4
Germany Female                  17.2        5.2
        Male                    18.7        5.9

 year                                 1995  2005  2015
country biological_sex
France  Female         perc_obesity  15.3  18.1  20.8
                       variation      7.7   8.2  11.3
        Male           perc_obesity  12.8  16.9  21.5
                       variation      7.6   8.4  11.8
Germany Female         perc_obesity  14.4  17.2  20.1
                       variation      4.6   5.2   8.4
        Male           perc_obesity  14.4  18.7  23.6
                       variation      5.1   5.9   9.8

In [60]:
# Stack obesity by the first level (year col value of obesity_2_us_vals dframe - that frame matches their obesity frame from exercises , get the sum of the columns, and finally, unstack the DataFrame by the second level.
obesity_sum = obesity_2_us_vals.stack(level=0)
display(obesity_sum)

obesity_sum = obesity_2_us_vals.stack(level=0).sum(axis=1)
print('\n')
display(obesity_sum)

print('\n')
display(obesity_sum.unstack(level=1))

                             perc_obesity  variation
country biological_sex year
France  Female         1995          15.3        7.7
                       2005          18.1        8.2
                       2015          20.8       11.3
        Male           1995          12.8        7.6
                       2005          16.9        8.4
                       2015          21.5       11.8
Germany Female         1995          14.4        4.6
                       2005          17.2        5.2
                       2015          20.1        8.4
        Male           1995          14.4        5.1
                       2005          18.7        5.9
                       2015          23.6        9.8

country  biological_sex  year
France   Female          1995    23.0
                         2005    26.3
                         2015    32.1
         Male            1995    20.4
                         2005    25.3
                         2015    33.3
Germany  Female          1995    19.0
                         2005    22.4
                         2015    28.5
         Male            1995    19.5
                         2005    24.6
                         2015    33.4
dtype: float64

biological_sex  Female  Male
country year
France  1995      23.0  20.4
        2005      26.3  25.3
        2015      32.1  33.3
Germany 1995      19.0  19.5
        2005      22.4  24.6
        2015      28.5  33.4

### A group analysis
You are almost done working for the day, but there is an extra analysis you want to do. You want to know if the mean and median percentage of obesity by country are different.

You analyze the DataFrame obesity. You realize that country is part of the column labels, so you need to reshape the DataFrame so country is part of the index.

You want to take a different approach. You will perform the desired calculations, combining the stacking process and .groupby() function.

The obesity DataFrame is available in your session.

```python
n [1]:
obesity
Out[1]:
                    perc_obesity              
country                Argentina Brazil France
year biological_sex                           
1995 Female                 20.2   15.3   15.3
     Male                   16.8    8.9   12.8
2005 Female                 24.2   20.1   18.1
     Male                   21.5   13.2   16.9
2015 Female                 28.5   24.9   20.8
     Male                   26.8   18.0   21.5
```
* dataframe we'll be working on 

* Stack the country level of obesity, group it by country, and take the mean of all the columns.
```python
obesity_mean = obesity.stack(level='country')

obesity.stack(level='country')
Out[5]:

                               perc_obesity
year biological_sex country                
1995 Female         Argentina          20.2
                    Brazil             15.3
                    France             15.3
     Male           Argentina          16.8
                    Brazil              8.9
                    France             12.8
2005 Female         Argentina          24.2
                    Brazil             20.1
                    France             18.1
     Male           Argentina          21.5
                    Brazil             13.2
                    France             16.9
2015 Female         Argentina          28.5
                    Brazil             24.9
                    France             20.8
     Male           Argentina          26.8
                    Brazil             18.0
                    France             21.5
            
obesity_mean = obesity.stack(level='country').groupby('country').mean()

print(obesity_mean)
           perc_obesity
country                
Argentina        23.000
Brazil           16.733
France           17.567
```

* Stack the country level of obesity, group by country, and take the median of all the columns.

```python
obesity_median = obesity.stack(level='country').groupby('country').median()
print(obesity_median)

           perc_obesity
country                
Argentina         22.85
Brazil            16.65
France            17.50
```

### Merge it all
Time to keep working with the obesity project! You will analyze the mean obesity percentage in different countries, but this time, the obesity DataFrame has a new column named bounds. It contains the minimum and maximum values you can find in different parts of the same country.

You notice that these values are given in a list, so you decide that you need to transform that column. You would like to have each element in a new row.

```python
In [1]:
obesity
Out[1]:

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]
```

In [62]:
obesity = pd.DataFrame({
    'country':['Argentina', 'Germany', 'Japan', 'Norway'],
    'perc_obesity':[21.5, 22.3, 2.5, 23.0],
    'bounds':[[15.4, 31.5], [16.2, 32.4], [1.1, 3.5], [13.1, 33.0]]
})
display(obesity)

# Explode the values of bounds to a separate row
obesity_bounds = obesity['bounds'].explode()

print('\n', obesity_bounds)

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

 0    15.4
0    31.5
1    16.2
1    32.4
2     1.1
2     3.5
3    13.1
3    33.0
Name: bounds, dtype: object

In [63]:
# Merge obesity_bounds with country and perc_obesity columns of obesity using the indexes
obesity_final = obesity[['country', 'perc_obesity']].merge(obesity_bounds, right_index=True, left_index=True)
display(obesity_final)

     country  perc_obesity bounds
0  Argentina          21.5   15.4
0  Argentina          21.5   31.5
1    Germany          22.3   16.2
1    Germany          22.3   32.4
2      Japan           2.5    1.1
2      Japan           2.5    3.5
3     Norway          23.0   13.1
3     Norway          23.0   33.0

### Explode the bounds
You were able to transform the list-like column successfully, but you are not satisfied with the steps you had to take. You want to find an easier way to get the same reshaped DataFrame.

You remembered what you learned about exploding list-like columns, and you will apply a new strategy.

The same DataFrame obesity is available in your session. It contains the country, perc_obesity, and the column bounds with the minimum and maximum values you can find in different parts of the same country.

In [64]:
# Transform the list-like column named bounds 
obesity_explode = obesity.explode('bounds')

# Modify obesity_explode by resetting the index
obesity_explode.reset_index(drop=True, inplace=True)

# Print obesity_explode
print(obesity_explode)

     country  perc_obesity bounds
0  Argentina          21.5   15.4
1  Argentina          21.5   31.5
2    Germany          22.3   16.2
3    Germany          22.3   32.4
4      Japan           2.5    1.1
5      Japan           2.5    3.5
6     Norway          23.0   13.1
7     Norway          23.0   33.0

### The good old split
You have to do one last task for the obesity project. Your colleague gave you a new dataset to analyze with which you will perform the same analysis as before.

After inspecting the dataset obesity, you realize that you have the same columns as before, but the bounds column is not a list. This time, the column contains two values separated with a hyphen in the form of string.

You will process the string and then transform the column.

```python
In [1]:
obesity
Out[1]:

        country  perc_obesity     bounds
0        France          14.5  11.4-25.5
1        Mexico          25.3  16.2-32.4
2         Spain          12.5   8.1-16.5
3  South Africa          11.3   9.1-20.1
```

In [65]:
obesity = pd.DataFrame({
    'country':['France', 'Mexico', 'Spain', 'South Africa'],
    'perc_obesity':[14.5,25.3,12.5,11.3],
    'bounds':['11.4-25.5', '16.2-32.4', '8.1-16.5', '9.1-20.1']
})
display(obesity)

        country  perc_obesity     bounds
0        France          14.5  11.4-25.5
1        Mexico          25.3  16.2-32.4
2         Spain          12.5   8.1-16.5
3  South Africa          11.3   9.1-20.1

In [68]:
# Split the columns bounds using a hyphen as delimiter
obesity_split = obesity['bounds'].str.split('-')

print(obesity_split, '\n')

# Assign the result of the split to the bounds column
obesity_split = obesity.assign(bounds=obesity['bounds'].str.split('-'))

# Print obesity
print(obesity_split, '\n')

# Transform the column bounds in the obesity DataFrame
obesity_split = obesity.assign(bounds=obesity['bounds'].str.split('-')).explode('bounds')

# Print obesity_split
print(obesity_split)

0    [11.4, 25.5]
1    [16.2, 32.4]
2     [8.1, 16.5]
3     [9.1, 20.1]
Name: bounds, dtype: object

        country  perc_obesity        bounds
0        France          14.5  [11.4, 25.5]
1        Mexico          25.3  [16.2, 32.4]
2         Spain          12.5   [8.1, 16.5]
3  South Africa          11.3   [9.1, 20.1]

        country  perc_obesity bounds
0        France          14.5   11.4
0        France          14.5   25.5
1        Mexico          25.3   16.2
1        Mexico          25.3   32.4
2         Spain          12.5    8.1
2         Spain          12.5   16.5
3  South Africa          11.3    9.1
3  South Africa          11.3   20.1

### Nested movies
You are curious about a movies dataset you've had on your computer for some time now that contains data about different movies. You would like to analyze that data, but you realize it's in a nested JSON format.

To read it into a DataFrame, you will need to use the function you have just learned. After that, you will reshape the resulting DataFrame to make it easier to work with.


```python

In [1]:
movies
Out[1]:

[{'director': 'Woody Allen',
  'producer': 'Letty Aronson',
  'features': {'title': 'Magic in the Moonlight', 'year': 2014}},
 {'director': 'Niki Caro',
  'producer': 'Jason Reed',
  'features': {'title': 'Mulan', 'year': 2020}}]


# Import the json_normalize function
from pandas import json_normalize

# Normalize movies and separate the new columns with an underscore
movies_norm = json_normalize(movies, sep='_')

# Reshape using director and producer as index, create movies from column starting from features
movies_long = pd.wide_to_long(movies_norm, stubnames='features', 
                              i=['director', 'producer'], j='movies', 
                              sep='_', suffix='\w+')

# print movies_norm
print(movies_norm, '\n')

# Print movies_long
print(movies_long)


      director       producer          features_title  features_year
0  Woody Allen  Letty Aronson  Magic in the Moonlight           2014
1    Niki Caro     Jason Reed                   Mulan           2020 

                                                features
director    producer      movies                        
Woody Allen Letty Aronson title   Magic in the Moonlight
                          year                      2014
Niki Caro   Jason Reed    title                    Mulan
                          year                      2020
```

* Start normalizing

```python
# Normalize the JSON contained in movies
normalize_movies = json_normalize(movies)

# Print normalize_movies
print(normalize_movies)

      director       producer                                           features
0  Woody Allen  Letty Aronson  [{'title': 'Magic in the Moonlight', 'year': 2...
1    Niki Caro     Jason Reed                 [{'title': 'Mulan', 'year': 2020}]
```

* Specify features

```python
# Specify the features column as the list of records 
normalize_movies = json_normalize(movies, 
                                  record_path='features')

# Print normalize_movies
print(normalize_movies)


                      title  year
0    Magic in the Moonlight  2014
1  Vicky Cristina Barcelona  2008
2         Midnight in Paris  2011
3                     Mulan  2020
```

* Put it together
```python
# Specify director and producer to use as metadata for each record 
normalize_movies = json_normalize(movies, 
                                  record_path='features', 
                                  meta=['director', 'producer'])

# Print normalize_movies
print(normalize_movies)

<script.py> output:
                          title  year     director       producer
    0    Magic in the Moonlight  2014  Woody Allen  Letty Aronson
    1  Vicky Cristina Barcelona  2008  Woody Allen  Letty Aronson
    2         Midnight in Paris  2011  Woody Allen  Letty Aronson
    3                     Mulan  2020    Niki Caro     Jason Reed
```

## Dealing with nested data columns
```python
writers = ['Mary Shelley', 'Ernest Hemingway']
books = ['{"title": "Frankenstein", "year":"1818"}',
        '{"title": "Old Man & The Sea", "year":"1951"}']
collection = pd.DataFrame(dict(writers=writes, books=books))

         writers  books   
    0    Mary Shelley  {'title':'Frankenstein', 'year':1818}  
    1    Ernest Hemingway  {'title':'Old Man & The Sea', 'year':1951}   
```

### Un-nesting birds
Finally, your job for the day is done, but your colleague asked you a last minute favor. A client has provided data about birds he wants to classify.

You examine the data and realize that it's in a bad format - the list of birds is in one file, and the characteristics of the birds are in another.

You manage to read the bird names into a list called names. You read the bird facts into another list called bird_facts, but this list contains dictionaries in string format.

In [69]:
names = ['Killdeer', 'Chipping Sparrow', 'Cedar Waxwing']
bird_facts = ['{"Size" : "Large", "Color": "Golden brown", "Behavior": "Runs swiftly along ground", "Habitat": "Rocky areas"}',
 '{"Size":"Small", "Color": "Gray-white", "Behavior": "Often in flocks", "Habitat": "Open woodlands"}',
 '{"Size":"Small", "Color": "Gray-brown", "Behavior": "Catch insects over open water", "Habitat": "Parks"}']

# Define birds reading names and bird_facts lists into names and bird_facts columns 
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Print birds
print(birds)

              names                                         bird_facts
0          Killdeer  {"Size" : "Large", "Color": "Golden brown", "B...
1  Chipping Sparrow  {"Size":"Small", "Color": "Gray-white", "Behav...
2     Cedar Waxwing  {"Size":"Small", "Color": "Gray-brown", "Behav...

In [71]:
import json
# Apply the function json.loads function to the bird_facts column
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Print birds
print(data_split)

    Size         Color                       Behavior         Habitat
0  Large  Golden brown      Runs swiftly along ground     Rocky areas
1  Small    Gray-white                Often in flocks  Open woodlands
2  Small    Gray-brown  Catch insects over open water           Parks

In [73]:
# Define birds reading names and bird_facts lists into names and bird_facts columns
birds = pd.DataFrame(dict(names=names, bird_facts=bird_facts))

# Apply to bird_facts column the function loads from json module
data_split = birds['bird_facts'].apply(json.loads).apply(pd.Series)

# Remove the bird_facts column from birds
birds = birds.drop(columns='bird_facts')

# Concatenate the columns of birds and data_split
birds = pd.concat([birds,  data_split], axis=1)

# Print birds
display(birds)

              names   Size  ...                       Behavior         Habitat
0          Killdeer  Large  ...      Runs swiftly along ground     Rocky areas
1  Chipping Sparrow  Small  ...                Often in flocks  Open woodlands
2     Cedar Waxwing  Small  ...  Catch insects over open water           Parks

[3 rows x 5 columns]

### Don't dump the bird
You want to read the birds data into a DataFrame like you did in the previous exercise, but this time, you would like to try a different approach.

You would like to have a code that you can reuse in this situations, so you want to establish the fastest strategy to convert it into a usable DataFrame. You think that working with the json format could speed up the process.

```python
In [3]:
birds
Out[3]:

              names                                         bird_facts
0          Killdeer  {"Size" : "Large", "Color": "Golden brown", "B...
1  Chipping Sparrow  {"Size":"Small", "Color": "Gray-white", "Behav...
2     Cedar Waxwing  {"Size":"Small", "Color": "Gray-brown", "Behav...                 
```

```python
# Apply json.loads to the bird_facts column and transform it to a list
birds_facts = birds['bird_facts'].apply(json.loads).to_list()

# Convert birds_fact into a JSON 
birds_dump = json.dumps(birds_facts)
print(type(birds_dump), type(birds_facts))

# Read the JSON birds_dump into a DataFrame 
birds_df = pd.read_json(birds_dump)

# Concatenate the 'names' column of birds with birds_df 
birds_final = pd.concat([birds['names'], birds_df], axis=1)

# Print birds_final
print(birds_final)


<class 'str'>-birds_dump <class 'list'> birds_facts
              names   Size         Color                       Behavior         Habitat
0          Killdeer  Large  Golden brown      Runs swiftly along ground     Rocky areas
1  Chipping Sparrow  Small    Gray-white                Often in flocks  Open woodlands
2     Cedar Waxwing  Small    Gray-brown  Catch insects over open water           Parks
```